.box {
  width: 100%;
  height: 100%;
  background: url("../img/bj.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.content_box , .to_pays {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 14px;
}
.to_pays p {
  padding: 0;
  margin-bottom: 84px;
}
.content_box #idcard {
  width: 100% ;
  height: 50%;
  margin: auto;
}
.content_box #idcard img {
  width: 100%;
  height: 100%;
}
.content_box > p {
  margin: 10px auto 14px;
  font-size: 18px;
}

.remove {
  width: 116px;
  height: 38px;
  background: #80a3c5;
  color: #fff;
  border: 1px solid #80a3c5;
  letter-spacing: 2px;
  position: fixed;
  top: 1365px;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}
.remove:active {
  opacity: 0.8;
}
  .content_box #idcard {
    width: 423px;
    height: 270px;
    margin:auto;
  }
.close {
  margin-top: 80px;
}
body {
  position: relative;
}
.bg_box {
  width: 100% ;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

a {
  color: #000;
}
#card_myModal,
#nopp_myModal {
  width: 478px;
  height: 254px;
  margin: auto;
}

.again,
.nopp {
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
  background: url("../img/failure.png") no-repeat;
  background-size: 100% 100%;
  margin-bottom: 12px;
}
.nopp {
  background: url("../img/prompt_icon2x.png") no-repeat;
  background-size: 100% 100%;
}

.modal-footer {
  padding-top: 20px;
}
.content_box .no_title {
  width: 100%;
}
.title {
  position: relative;
  padding: 5px 0;
}
.title:after,
.title:before {
  content: '';
  height: 16px;
  width: 16px;
  display: inline-block;
  position: absolute;
}
.pay_ma {
  color: #282828;
}
.title:before {
  background: url("../img/left_icon.png") no-repeat;
  background-size: 100% 100%;
  left: 0;
  top: -8px;
}
.title:after {
  background: url("../img/Right_icon.png") no-repeat;
  background-size: 100% 100%;
  right: 0;
  bottom: -8px;
}
.t_one {
  text-align: left;
}
.t_three {
  text-align: right;
}
.room_card {
  width: 389px;
  height: 223px;
  margin: auto;
  background: url("../img/card_bj.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
  font-size: 20px;
}
.room_card > p {
  position: absolute;
}
.rc_top {
  top: 20px;
  left: 30px;
  letter-spacing: 20px;
  font-size: 16px;
}
.rc_center {
  width: 100%;
  text-align: center;
  top: 28%;
  font-size: 12px;
}
.rc_center i {
    font-size: 38px;
    vertical-align: sub;
    margin-left: 5px;
}
.rc_btm {
  bottom: 50px;
  width: 100%;
  font-size: 14px;
}
.rc_btm span {
  position: absolute;
}
.rc_btm span:first-child {
  left: 30px;
}
.rc_btm span:last-child {
  right: 30px;
}
.no_cards {
  text-align: center;
  font-size: 14px;
  color: #666;
}
.no_cards i {
  width: 10px ;
  height: 10px;
  background: url("../img/red.png") no-repeat;
  background-size: 100% 100%;
  margin-right: 2px;
}
.btns_btm {
  width: 500px;
  height: 40px;
  margin: auto;
  position: relative;
  margin-top: 50px;
}
.btns_btm .remove {
  top: 1px;
}
.btns_btm button:first-child {
     width: 116px;
  height: 38px;
  position: fixed;
  top: 1365px;
  left: 374px;
  background: #80a3c5;
  color: #fff;
  border-color: #80a3c5;
}
.btns_btm button:last-child {
   width: 116px;
  height: 38px;
  position: fixed;
  top: 1365px;
  right: 374px;
  color: #80a3c5;
  border-color: #80a3c5;
  background: #ffffff;
  border: 1px solid #80a3c5;
}
.btns_btm2 {
  width: 500px;
  height: 40px;
  margin: auto;
  position: relative;
  margin-top: 50px;
}
.btns_btm2 .remove {
  top: 1px;
}
.btns_btm2 button:first-child {
   width: 116px;
  height: 38px;
  position: fixed;
  top: 1365px;
  left: 50%;
  transform: translateX(-50%);
  background: #80a3c5;
  color: #fff;
  border-color: #80a3c5;
}
.zfb .icons {
  width: 20px ;
  height: 20px;
  background: url("../img/aliplay.png") no-repeat;
  background-size: 100% 100%;
  border: 1px solid #fff;
  margin-right: 10px;
}
.wx .icons {
  width: 22px ;
  height: 20px;
  background: url("../img/WeChat.png") no-repeat;
  background-size: 100% 100%;
  border: 1px solid #fff;
  margin-right: 10px;
  margin-left: -11px;
}
.zfb,
.wx {
  width: 300px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  text-align: center;
  position: relative;
}
.zf_active {
  border: 1px solid #7ca7e0;
}
.pay_ma {
  width: 300px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto 50px;
  text-align: center;
}
.pay_ma .zfb_pay {
  width: 20px ;
  height: 20px;
  margin-right: 10px;
  background: url("../img/aliplay.png") no-repeat;
  background-size: 100% 100%;
}
.pay_ma .wx_pay {
  width: 22px ;
  height: 20px;
  margin-right: 10px;
  background: url("../img/WeChat.png") no-repeat;
  background-size: 100% 100%;
}
#picture {
  width: 480px;
  height: 640px;
  margin: auto;
  background: #ccc;
}
.zf_zctive {
  border: 1px solid #00a0e9;
}
.phones {
    width: 450px;
    margin: auto;
    text-align: center;
    font-size: 14px;
}
.phones  p {
  font-size: 18px;
}
.one_del {
  width: 26px;
    height: 28px;
    background: url(../img/one_del.png) no-repeat;
    background-size: 100% 100%;
}
#numbers {
  width: 280px;
  height: 48px;
  line-height: 40px;
  border: 1px solid #ababab;
  margin: 20px auto 10px;
  position: relative;

}
#numbers  span {
    position: absolute;
    left: 14px;
    width: 20px;
    height: 28px;
    background: url(../img/phone.png) no-repeat;
    background-size: 100% 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 20px;
}
#numbers input{
    position: absolute;
    right: 0;
    height: 28px;
    border: 0;
    width: 230px;
    border-left: 1px solid #ababab;
    padding-left: 20px;
    background: rgba(0, 0, 0, 0);
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #888;
}
.num_box {
  width: 330px;
  margin: auto;
}
.num_box .nums {
  height: 94px;
  line-height: 94px;
}
.nums button {
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 65px;
  line-height: 65px;
  margin: auto;
  background: url("../img/digital.png") no-repeat;
  background-size: 100% 100%;
}
.nums button:active {
  background: url("../img/digital_hover.png") no-repeat;
  background-size: 100% 100%;
}
.sure_num , .back_num , .qk , .gb{
  width: 116px;
  height: 38px;
  background: #80a3c5;
  color: #fff;
  border: 1px solid #ccc;
  letter-spacing: 2px;
  margin-top: 20px;
}
.sure_num:active , .qk:active {
  opacity: 0.8;
}
.back_num , .gb {
  border: 1px solid #80a3c5;
  color: #80a3c5;
  background: #fff;
}
.back_num {
  margin-right: 50px;
}
.qk {
  margin-right: 50px;
}
.gb {
  margin-left: 50px;
}
.sure_num {
  margin-left: 50px;
}
.send {
  font-weight: 600;
}
.rooms_content {
  text-align: center;
  width: 90%;
  margin: auto;
  font-size: 14px;
  color: #444;
}
.days i {
  font-size: 14px;
}
.rooms_content div>p:first-child {
  font-weight: 600;
}
.rooms_btm .qk, .rooms_btm .gb {
  margin-top: 115px;
}
label{
  width: 100%;
  font-weight: 400;
}
label input {
  margin-right: 10px;
}
.l_l {
  font-size: 16px;
}
.days{
  position: relative;
  font-size: 16px;
}
.fs {
  font-size: 16px;
}
.days:before , .days:after{
  display: inline-block;
  width: 2px;
  height: 50px;
  background: #444;
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.days:before {
  left: 0;
}
.days:after {
  right: 0 !important; 
}

/*修改*/
.header {
  height:130px;
}
.header a {
  height: 80px;
}
input[type=checkbox], input[type=radio] {
    vertical-align: text-top;
    margin-right: 6px;
}
.black {
  color:　#000;
}
.pay_remove {
  width: 116px;
  height: 38px;
  background: #80a3c5;
  color: #fff;
  border: 1px solid #80a3c5;
  letter-spacing: 2px;
  font-size: 14px;
  position: fixed;
  top: 1237px;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}
.pay_remove:active {
  opacity: 0.8;
}
.pays {
  font-size: 16px;
}
.face_box {
  width: 860px;
    font-size: 18px;
    margin: auto;
    text-align: center;
    position: fixed;
    top: 1015px;
    left: 50%;
    transform: translateX(-50%);
}
input::-webkit-input-placeholder {
  font-size:14px; 
  color: #cfcfcf;
}
input:-moz-placeholder {  
  font-size:14px;
  color: #cfcfcf;
}
input::-moz-placeholder { 
  font-size:14px;
  color: #cfcfcf;
}
input:-ms-input-placeholder { 
  font-size:14px;
  color: #cfcfcf;
}
.gb {
  background: #80a3c5;
  border: 1px solid #80a3c5;
  color: #fff;
  position: fixed;
  top: 1237px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}
.rooms_con_btn {
  width: 336px;
  position: fixed;
  top: 1237px;
  left: 50%;
  transform: translateX(-50%);
}
.rooms_con_btn button {
  width: 116px;
  border: 1px solid #80a3c5;
  color: #fff;
  height: 38px;
}
.rooms_con_btn button:first-child {
  background: #80a3c5;
}
.rooms_con_btn button:last-child {
  color: #80a3c5;
}

.rooms_con_btn button:first-child:disabled {
	background: #c1c1c1;
	color: #000;
	border-color: #c1c1c1 !important;
}
.sxt_remove {
  width: 116px;
  height: 38px;
  background: #80a3c5;
  color: #fff;
  border: 1px solid #80a3c5;
  letter-spacing: 2px;
  font-size: 14px;
  position: fixed;
  top: 1365px;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}
.sxt_remove:active {
	opacity: 0.8;
}
#imgUrl {
	width: 130px;
	height: 130px;
	margin: auto;
}

.line1 {
  margin-top: 13px;
  height:60px;
}
.rzrs1{
	float:left;
	width:150px;
	height:60px;
	line-height:60px;
}
.rzrs2{
	float:right;
	width:150px;
	margin-top:-80px;
	height:60px;
	line-height:60px;
}